In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('train.csv')
data.head()

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,...,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,...,NaN,NaN,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,...,NaN,NaN,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,...,NaN,NaN,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,...,NaN,NaN,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,...,NaN,NaN,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02

In [3]:
#checking for unique values in our dataset
#we notice we have some discrepancy in the following columns
"""Sex-should only be 2 unique values but we have 4
Foraging ground should have 2 categories instead of 3
"""
data.nunique()

Rescue_ID                18062
Date_TimeCaught           5237
Researcher                  35
CaptureSite                 29
ForagingGround               3
CaptureMethod               15
Fisher                    2085
LandingSite                  5
Species                      8
Tag_1                     8236
Tag_2                      247
Lost_Tags                  167
T_Number                    38
CCL_cm                    1338
CCW_cm                    1262
Weight_Kg                 1937
Sex                          4
TurtleCharacteristics    16343
Status                     439
ReleaseSite                271
Date_TimeRelease          3008
dtype: int64

In [4]:
#convert all in the Foraging ground to lowercase thus we have to sites
data['ForagingGround']=data['ForagingGround'].str.lower()

In [9]:
#checking for missing data per column
#both lost tags and T_number have significan missing data,thus we drop them
#data.drop(['Lost_Tags','T_Number'],axis=1,inplace=True)
data.isnull().sum()

Rescue_ID                   0
Date_TimeCaught             0
Researcher                  0
CaptureSite                 0
ForagingGround              0
CaptureMethod               0
Fisher                      0
LandingSite                 0
Species                     0
Tag_1                       0
Tag_2                       0
CCL_cm                     24
CCW_cm                     27
Weight_Kg                5409
Sex                      4330
TurtleCharacteristics      41
Status                   3633
ReleaseSite                75
Date_TimeRelease         6108
dtype: int64

In [24]:
data['Sex'].str.count('Unknown').sum()

13578.0